$mainTransition: ease 0.5s;

.loading-bar {
	transition: $mainTransition;

	span {
		display: block;
		transition: $mainTransition;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
